@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

/* @keyframes bouncingeffect {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-5px);
  }
} */

@keyframes bouncingeffect {
  from {
    background-color: hsl(152, 100%, 50%);
    transform: translateY(0);
  }
  to {
    background-color: hsla(152, 100%, 50%, 0.9);
    transform: translateY(-5px);
  }
}

@keyframes scaleeffect {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.09);
  }
}

* {
  font-family: Inter;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #1a0b2e;
  color: white;
}

/* --------------------- Navbar --------------------- */
.nav-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 24px;
  /* border: 1px solid white; */
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 1px solid red; */
}

.logo {
  font-weight: 800;
  font-size: 40px;
  letter-spacing: 1.5px;
}

.logo span {
  background: linear-gradient(to top, #f7e93f, #fb09b4, #9100f8);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nav ul {
  list-style: none;
  display: flex;
  gap: 32px;
  font-size: 16px;
  font-weight: 400;
}

.nav ul li {
  cursor: pointer;

  transition: all 0.3s ease;
}

.btn-primary {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 16px;
  border-radius: 100px;
  outline: none;
  border: none;
  gap: 1px;
  cursor: pointer;
  font-weight: 600;
  color: white;
  background: linear-gradient(to top right, #f7e93f, #fb09b4, #9100f8);

  transition: all 0.3s linear;
}

/* --------------------- Hero Section --------------------- */
.hero-container {
  background-image: url("./assets/hero-bg.png");
  height: 80vh;
  width: 100%;

  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  background-position: center;
}

.hero {
  display: flex;
  flex-direction: column;
  gap: 150px;
}

.hero-middle-circle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 10%;
  margin-bottom: 40px;

  animation: scaleeffect 1s linear 0s infinite alternate;
}

.hero-middle-mic {
  position: absolute;
  top: 20%;
}

.hero-middle-badge {
  padding: 8px 16px;
  box-shadow: 0px 3px 27px #00ff88c2;
  color: black;
  background-color: #00ff88;
  font-size: 18px;
  font-weight: 500;
  border-radius: 1000px;

  position: absolute;
  top: 10%;
  right: 20%;
  z-index: 99;

  animation: bouncingeffect 0.8s linear 0s infinite alternate;
}

.hero-container-bottom {
  text-align: center;
}

.hero-container-bottom > h1 {
  font-size: 60px;
  font-weight: 800;
}

.hero-container-bottom > p {
  font-size: 16px;
  font-weight: 200;
}

.hero-container-bottom-btns {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-top: 24px;
}

.btn-hero-message {
  background: transparent;
  border: 1px solid green;
}

/* --------------------- About Section --------------------- */
.about-container {
  width: 71%;
  margin: 0 auto;
}

.about {
  display: flex;
  margin-top: 100px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 80px;
}

hr {
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.116);
}

.about-description h1 {
  font-size: 48px;
  font-weight: 600;
}

.about-description pre {
  font-size: 16px;
  font-weight: 200;
}

.about-stats {
  display: flex;
  gap: 80px;
  margin-bottom: 120px;
}

.about-stats .stat h1 {
  font-size: 48px;
  line-height: auto;
  margin-bottom: 16px;
  color: #00ff88;
}

.about-stats .stat p {
  font-size: 16px;
  font-weight: 200;
}

/* --------------------- TechWave Section --------------------- */
.techwave-bg {
  background-color: #230e3d;
  height: 1121px;
}

.techwave-container {
  width: 71%;
  margin: 0 auto;
  background-color: #230e3d;
}

.techwave > h1,
.featured-container > h1,
.meet-host-container > h1 {
  text-align: center;
  padding-top: 120px;
  margin-bottom: 40px;
  font-size: 48px;
  font-weight: 600;
}

.reason {
  display: flex;
  flex-direction: column;
  gap: 16px;
  background-color: rgba(53, 17, 101, 0.4);
  /* border: 1px solid red; */
  border-radius: 40px;
  padding: 40px 40px;
}

.reason h2 {
  font-size: 24px;
  font-weight: 600;
}

.reason p {
  font-size: 16px;
  font-weight: 100;
}

.techwave-reasons {
  display: grid;
  grid-template: "aud mob mob" "aud loc loc" "headp headp reso";
  gap: 30px;
}

.grid-aud {
  grid-area: aud;
  padding-top: 107px;
}

.grid-mob {
  grid-area: mob;
}

.gird-loc {
  grid-area: loc;
}

.grid-headp {
  grid-area: headp;
}

.grid-reso {
  grid-area: reso;
}

/* --------------------- Features Section --------------------- */
.featured-container {
  width: 71%;
  margin: 0 auto;
}

.features {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.feature {
  display: flex;
  flex-direction: column;
  background-color: #250d44;
  /* border: 1px solid red; */
  width: 380px;
  border-radius: 20px;
}

.feature iframe {
  width: 380px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.feature-description {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 24px 24px 60px 24px;
  /* border: 1px solid red; */
}

.feature-description h1 {
  font-size: 24px;
  font-weight: 600;
}

.feature-description p {
  font-size: 16px;
  font-weight: 200;
}

.feature-time {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 4px;
}

/* --------------------- Meet The Host Section --------------------- */

.meet-host-container {
  width: 71%;
  margin: 0 auto;
}

.meet-host {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid red; */
  background-color: hsla(266, 71%, 23%, 0.4);
  border-radius: 40px;
  margin-bottom: 120px;
}

.meet-host .host-img {
  margin: 40px 24px 40px 40px;
}

.meet-host-desc {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.meet-host-desc h1 {
  font-size: 32px;
  font-weight: 600;
}

.meet-host-desc p {
  font-size: 16px;
  font-weight: 100;
}

.meet-host-socials {
  display: flex;
  gap: 8px;
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #533c72;
  padding: 12.5px;
  border-radius: 50%;
  cursor: pointer;

  transition: all 0.3s linear;
}

/* --------------------- Footer Section --------------------- */

.footer-container {
  background-image: url("./assets/footer-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 412px;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.footer-socials {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.footer-soc {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  cursor: pointer;

  outline: none;
  border: none;
  transition: all 0.3s ease;
}

.footer-head {
  margin-top: 70px;
}

.footer-head .logo {
  font-size: 100px;
}
.footer-copyright {
  font-size: 16px;
  font-weight: 100;
}

/* ALL THE HOVER Effects */
.btn-primary:hover {
  transform: scale(1.2);
  box-shadow: 2px 4px 30px #a72020;
  color: #6e0909;
}

.nav ul li:hover {
  transform: translate(0, -2px) scale(1.1);
}

.footer-soc:hover {
  transform: translate(0, -4px);
  box-shadow: 2px 4px 30px #472a6d;
}

.meet-host-socials .social:hover {
  margin: 0px 12px;
  transform: scale(1.2);
}

.dhekedao {
  display: none;
}

/* Default For Largers */
.hamburger {
  display: none;
  cursor: pointer;
}

/* Responsiveness */
@media screen and (max-width: 576px) {
  /* Navbar */
  .nav-container .btn-primary,
  .nav ul {
    display: none;
  }

  .hamburger {
    display: inline;
  }

  /* Hero Section */
  @keyframes scaleeffect {
    from {
      transform: scale(0.7);
    }
    to {
      transform: scale(0.8);
    }
  }

  .hero-middle-circle {
    animation: scaleeffect 1s ease-in 0s infinite alternate;
  }
}
