@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  font-family: Inter;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #1a0b2e;
  color: white;
}

/* --------------------- Navbar --------------------- */
.nav-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 24px;
  /* border: 1px solid white; */
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 1px solid red; */
}

.logo {
  font-weight: 800;
  font-size: 40px;
  letter-spacing: 1.5px;
}

.logo span {
  background: linear-gradient(to top, #f7e93f, #fb09b4, #9100f8);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nav ul {
  list-style: none;
  display: flex;
  gap: 32px;
  font-size: 16px;
  font-weight: 400;
}

.nav ul li {
  cursor: pointer;
}

.btn-primary {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 16px;
  border-radius: 100px;
  outline: none;
  border: none;
  gap: 1px;
  cursor: pointer;
  font-weight: 600;
  color: white;
  background: linear-gradient(to top right, #f7e93f, #fb09b4, #9100f8);
}

/* --------------------- Hero Section --------------------- */
.hero-container {
  background-image: url("./assets/hero-bg.png");
  height: 100vh;
  width: 100%;

  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  background-position: center;
}

.hero {
  display: flex;
  flex-direction: column;
  gap: 150px;
}

.hero-middle-circle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 15%;
}

.hero-middle-mic {
  position: absolute;
  top: 20%;
}

.hero-middle-badge {
  padding: 8px 16px;
  box-shadow: 0px 3px 27px #00ff88c2;
  color: black;
  background-color: #00ff88;
  font-size: 18px;
  font-weight: 500;
  border-radius: 1000px;

  position: absolute;
  top: 10%;
  right: 20%;
  z-index: 99;
}

.hero-container-bottom {
  text-align: center;
}

.hero-container-bottom > h1 {
  font-size: 60px;
  font-weight: 800;
}

.hero-container-bottom > p {
  font-size: 16px;
  font-weight: 200;
}

.hero-container-bottom-btns {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-top: 24px;
}

.btn-hero-message {
  background: transparent;
  border: 1px solid green;
}

/* --------------------- About Section --------------------- */
.about-container {
  width: 71%;
  margin: 0 auto;
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 80px;
}

.about hr {
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.116);
}

.about-description h1 {
  font-size: 48px;
  font-weight: 600;
}

.about-description pre {
  font-size: 16px;
  font-weight: 200;
}

.about-stats {
  display: flex;
  gap: 80px;
  margin-bottom: 120px;
}

.about-stats .stat h1 {
  font-size: 48px;
  line-height: auto;
  margin-bottom: 16px;
  color: #00ff88;
}

.about-stats .stat p {
  font-size: 16px;
  font-weight: 200;
}

/* --------------------- TechWave Section --------------------- */
.techwave-bg {
  background-color: #230e3d;
  height: 1121px;
}

.techwave-container {
  width: 71%;
  margin: 0 auto;
  background-color: #230e3d;
}

.techwave > h1 {
  text-align: center;
  padding-top: 120px;
  margin-bottom: 40px;
  font-size: 48px;
  font-weight: 600;
}

.reason {
  display: flex;
  flex-direction: column;
  gap: 16px;
  background-color: rgba(53, 17, 101, 0.4);
  /* border: 1px solid red; */
  border-radius: 40px;
  padding: 40px 40px;
}

.reason h2 {
  font-size: 24px;
  font-weight: 600;
}

.reason p {
  font-size: 16px;
  font-weight: 100;
}

.techwave-reasons {
  display: grid;
  grid-template: "aud mob mob" "aud loc loc" "headp headp reso";
  gap: 30px;
}

.grid-aud {
  grid-area: aud;
  padding-top: 107px;
}

.grid-mob {
  grid-area: mob;
}

.gird-loc {
  grid-area: loc;
}

.grid-headp {
  grid-area: headp;
}

.grid-reso {
  grid-area: reso;
}
